.grid_item {
    background-image: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0.15) 26%,
        rgba(0, 0, 0, 0.15)
    );
    backdrop-filter: blur(23px);
}

/* @media screen and (min-width:901px) and (max-width:1023px) {
    .cards_width {
        width: 320px;
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .cards_width {
        width: 450px;
    }
    .cards_width figure {
        @apply tw-w-32
    }
}
@media screen and (max-width: 767px) {
    .cards_width {
        width: 350px;
    }
} */

/* @media screen and (max-width: 1023px) {
    .card_text-2 {
        @apply tw-absolute tw-bottom-7 tw-left-1/2 -tw-translate-x-1/2 tw-text-sm
    }
    .cards_width {
        width: 350px;
    }
} */
/* 
@media  screen and (max-width:650px) {
    .grid-card h2.tw-text-3xl {
        @apply tw-text-[1.1rem]
    }

    .grid-card p.tw-text-xl {
        @apply tw-text-sm
    }
} */
